.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 239, 245);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, .15, .5, 0.242);

  .lodoDiv{
    .logo{
      color: rgb(29, 53, 235);
      font-weight: 600;
      cursor: pointer;
      align-items: center;
      justify-content: center;
   
  
      .icon{
        font-size: 25px;
        color: rgb(16, 192, 232);
        transform: translateY(5px);
      }
  }

  
  }


  .toggleNavbar{
    .icon{
      font-size: 25px;
      color: rgb(6, 24, 18);
    }
    &:hover.icon{
      color: rgb(52, 21, 225);
    }
  }
}